.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300pxpx;
  width: 700px;
  background-color: #252640;
  border-radius: 15%;
  text-align: center;
  margin-top: 100px;
  margin-left: 300px;
  max-width: 100%;
}

.counter-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300pxpx;
  width: 700px;
  background-color: #8e95bf;
  border-radius: 15%;
  text-align: center;
  margin-top: 100px;
  margin-left: 300px;
  max-width: 100%;
}
.usereducer-button {
  margin: 15px 20px;
  color: white;
  padding: 10px 10px;
  background-color: #252640;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 1.25rem;
  text-decoration: none;
}

.customhook-button {
  margin: 15px 20px;
  color: white;
  padding: 10px 10px;
  background-color: #8e95bf;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 1.25rem;
  text-decoration: none;
}

.usereducer-button:hover {
  color: #d5d962;
  font-size: larger;
}

.customhook-button:hover {
  color: #92155a;
  font-size: 25px;
}

.result {
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  color: #252640;
  width: 600px;
  height: 100px;
  background-color: white;
  border-radius: 30%;
}

.link-color {
  color: #252640;
  font-size: 25px;
  text-decoration: none;
}

.home-page {
  color: #8e95bf;
  text-align: center;
  margin-top: 200px;
}

.home-page-container {
  background-color: bisque;
}

.main-page {
  color: #252640;
}

.link {
  display: flex;
  gap: 20px;
}

.error-page {
  color: #8f290a;
  /* background-color: #8e95bf; */
  /* background-size: cover; */
}

.error-page-container {
  color: #8e95bf;
  /* background-color: #8e95bf; */
  /* background-size: cover; */
}
