.main-counter-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 650px;
  background-color: #252640;
  border-radius: 15%;
  max-width: 100%;
}

.counter-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300pxpx;
  width: 650px;
  background-color: #8e95bf;
  border-radius: 15%;
  max-width: 100%;
}

.result {
  font-size: 35px;
  font-weight: 600;
  padding-top: 30px;
  text-align: center;
  color: #352540;
  width: 600px;
  height: 100px;
  background-color: white;
  border-radius: 30%;
  max-width: 100%;
}
.usereducer-button {
  margin: 15px 20px;
  color: white;
  padding: 10px 10px;
  background-color: #252640;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 1.25rem;
}

.customhook-button {
  margin: 15px 20px;
  color: white;
  padding: 10px 10px;
  background-color: #8e95bf;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 1.25rem;
}

.usereducer-button:hover {
  color: #d5d962;
}

.customhook-button:hover {
  color: #92155a;
  font-size: 25px;
}

body {
  background-color: rgb(67, 49, 75);
}

.home-page {
  margin-top: 200px;
  text-align: center;
}

.home-heading {
  color: #6175e6;
  font-size: 45px;
}

.link-button {
  margin: 15px 20px;
  color: #edf1ea;
  padding: 10px 10px;
  background-color: #2fb2f3;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 1.25rem;
}

.error {
  text-align: center;
}

.error h1 {
  color: aliceblue;
  font-size: 45px;
  font-family: 'Courier New', Courier, monospace;
}

.error p {
  color: aliceblue;
  font-size: 45px;
}
